<h1>Commentaire</h1>
<%= form_for @comment do |f|%>
<div class="form-group">
      <%= f.label'Content :' %>
      <%= f.text_area'content', class:'form-control'%>
      <br /> <br />
     <%= f.submit "Valider", class:"btn btn-primary"%>
      
</div>
<% end %>
