<div class="card text-center">
<div class="card">
  <h5 class="card-header"><%= @gossip.user.first_name%></h5>
  <div class="card-body">
    <h5 class="card-title"><%= @user.last_name%></h5>
    <p class="card-text"></p>
    <a href="<%= %>" class="btn btn-primary">Afficher author</a>
  </div>
</div>
</div>