<div class="card text-center">
<div class="card">
  <h5 class="card-header"><%= @gossip.user.first_name%></h5>
  <div class="card-body">
    <h5 class="card-title"><%= @gossip.title%></h5>
    <p class="card-text"><%= @gossip.content%></p>
    <a href="#" class="btn btn-primary">Afficher author</a>
  </div>
</div>
</div>