<!--Afficher les gossips et les auteurs qui sont associés-->
<div class="card text-center">
	<div class="card">
  		<div class="card-body">
  			<h5 class="card-header"></h5>
    		<h6 class="card-title"><%= @gossip.title%></h6>
    		<p class="card-text"><%= @gossip.content%></p>
    		<a href="<%=user_path(@gossip.user.id)%>" class="btn btn-primary">Afficher l'auteur </a>
  		</div>
	</div>
</div>