// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#div2{
box-shadow: 10px 10px 5px grey;
}
.container
{
 	border-style: solid;
 	border-color: white;
 	box-shadow: 10px 10px 5px  grey;
 	height: 870px;
}
.form-group{
	width: 500px; 
}